{% extends "blog/base.html" %}
{% block content %}
<a class="btn btn-outline-primary" href="{% url 'work-createtask' %}">Create New Task</a><br><br>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Row</th>
            <th scope="col">Title</th>
            <th scope="col">Employee</th>
            <th scope="col">Completion Files</th>
            <th scope="col">Deadline</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr>
              <th scope="row">1</th>
              <td><a href="{% url 'work-updatetask' task.id %}">{{task.title}}</a></td>
              <td>{{task.reciever}}</td>

              {% if task.reciever_file %}
                <td><a href="{{task.reciever_file.url}}">Completed Document</a></td>
              {% else %}
                  <td>None</td>
              {% endif %}

              <td>{{task.deadline}}</td>
              <td>{{task.status}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
