{% extends "blog/base.html" %}
{% block content %}
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Row</th>
            <th scope="col">Title</th>
            <th scope="col">Employer</th>
            <th scope="col">Req Files</th>
            <th scope="col">Deadline</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <thead class="table-light">
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td><a href="{% url 'work-completetask' task.id %}">{{task.title}}</a></td>
              <td>{{task.sender}}</td>
              {% if task.sender_file %}
                  <td><a href="{{task.sender_file.url}}">Required Document</a></td>
              {% else %}
                  <td>None</td>
              {% endif %}
              <td>{{task.deadline}}</td>
              <td>{{task.status}}</td>
            </tr>
          </thead>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}
